<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
	</array>
	<key>oauthRedirectURI</key>
	<string>testsfdc:///mobilesdk/detect/oauth/done</string>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG9ux34Ig8G5eqGtsZfUwvvvqAVW2Ud3PsVW_pN.4cd79XOOlxVeK315e2_F6fQyj0DMbKGtlXzPaIdKRtO</string>
</dict>
</plist>
